﻿
                <div class="panel panel-default box box-info">
                    <div class="panel-body">
                        <div class="page-header">
                            <h1>Profile <small>details</small></h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="../../../Dashboard/img/avatar9.png" class="img-responsive" alt="Photo" />
                                <input type="file" name="name" value="upload photo" />
                            </div>
                            <div class="col-lg-8">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="title" class="col-sm-2 control-label">Title</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="title" placeholder="Title" ng-model="newProfile.title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Fname" class="col-sm-2 control-label">First name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Fname" placeholder="First name" ng-model="profile.firstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Lname" class="col-sm-2 control-label">Last name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Lname" placeholder="Last name" ng-model="profile.lastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Mname" class="col-sm-2 control-label">Middle name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Mname" placeholder="Middle name" ng-model="profile.middleName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DOB" class="col-sm-2 control-label">Date of birth</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="DOB" placeholder="Date of birth" ng-model="profile.DOB">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender" class="col-sm-2 control-label">Gender</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="gender" ng-model="profile.gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="religion" class="col-sm-2 control-label">Religion</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="religion" ng-model="profile.religion">
                                                <option>Muslim</option>
                                                <option>Christian</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="marital_status" class="col-sm-2 control-label">Marital status</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="marital_status" ng-model="profile.maritalStatus">
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="no_children" class="col-sm-2 control-label">Number of children</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="no_children" placeholder="1" ng-model="profile.numOfchildren">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tel1" class="col-sm-2 control-label">Telephone 1</label>
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" id="Tel1" placeholder="+234" ng-model="profile.telephone1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tel2" class="col-sm-2 control-label">Telephone 2</label>
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" id="Tel2" placeholder="+234" ng-model="profile.telephone2">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email" placeholder="user@example.com" ng-model="profile.email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address1" class="col-sm-2 control-label">Address 1</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" ng-model="profile.address1"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address2" class="col-sm-2 control-label">Address 2</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" ng-model="profile.address2"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="state" class="col-sm-2 control-label">State</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="state" ng-model="profile.state">
                                                <option>state 1</option>
                                                <option>state 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="LGA" class="col-sm-2 control-label">LGA</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="LGA" ng-model="profile.LGA">
                                                <option>LGA 1</option>
                                                <option>LGA 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="page-header">
                                        <h1>Next of kin <small>details</small></h1>
                                    </div>
                                    <div class="form-group">
                                        <label for="full_name" class="col-sm-2 control-label">Full name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="full_name" placeholder="Full name" ng-model="profKin.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tel1" class="col-sm-2 control-label">Telephone 1</label>
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" id="Tel1" placeholder="+234" ng-model="profKin.tel1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tel2" class="col-sm-2 control-label">Telephone 2</label>
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" id="Tel2" placeholder="+234" ng-model="profKin.tel2">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email" placeholder="user@example.com" ng-model="profKin.email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address1" class="col-sm-2 control-label">Address 1</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" ng-model="profKin.address1"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address2" class="col-sm-2 control-label">Address 2</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" ng-model="profKin.address2"></textarea>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-flat btn-group-lg" ng-click="saveProf()">Save</button>
                                        <button class="btn btn-danger btn-flat btn-group-lg" ng-click="cancelProf()">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
           