﻿
                <div class="panel panel-default box box-info">
                    <div class="panel-body">
                        <div class="page-header">
                            <h1>Work <small>details</small></h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-8">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="CDA" class="col-sm-2 control-label">Current date of appointment</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="CDA" placeholder="Current date of appointment">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="CP" class="col-sm-2 control-label">Current possition</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="CP" placeholder="Current possition">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="HWW" class="col-sm-2 control-label">Hours worked weekly</label>
                                        <div class="col-sm-10">
                                            <input type="time" class="form-control" id="HWW" placeholder="Hours worked weekly">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="FPA" class="col-sm-2 control-label">First public appointment</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="FPA" placeholder="First public appointment">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="FIA" class="col-sm-2 control-label">First institution appointment</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="FIA" placeholder="First institution appointment">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="AOS" class="col-sm-2 control-label">Area of specialisation</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="AOS" placeholder="Area of specialisation">
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-flat btn-group-lg">save</button>
                                        <button type="reset" class="btn btn-danger btn-flat btn-group-lg">Cancel</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-lg-2"></div>

                        </div>
                       
                    </div>
                </div>
           