﻿
                <div class="panel panel-default box box-info">
                    <div class="panel-body">
                        <div class="page-header">
                            <h1>Work <small>experience</small></h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-8">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="orgName" class="col-sm-2 control-label">Organisation name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="orgName" placeholder="Organisation name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="postHeld" class="col-sm-2 control-label">position held</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="postHeld" placeholder="position held">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="level" class="col-sm-2 control-label">Level</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="level" placeholder="Level">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="startYear" class="col-sm-2 control-label">Start year</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="startYear" placeholder="Start year">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="endYear" class="col-sm-2 control-label">End year</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="endYear" placeholder="End year">
                                        </div>
                                    </div>

                                    <div class="pull-right">
                                        <button class="btn btn-success btn-flat btn-group-lg">save</button>
                                        <button type="reset" class="btn btn-danger btn-flat btn-group-lg">Cancel</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-lg-2"></div>

                        </div>

                    </div>
                </div>
           